<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/stayl.css"> 
     <link rel="icon" href="/img/weather2.png">
<title>Help</title>
</head>
<body>
<div class="main-content">
    {{>header}}

    {{name}}
</div>

    

{{>footer}}

</body>
</html>